{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-unresolved": [1, { ignore: ["react", "propt-types"] }]
  },
  "globals": {
    "window": true,
    "document": true,
  }
}
