.quote {
  margin: 0 auto;
  max-width: 80vw;

  font-weight: 700;
  font-size: 5vw;

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

.cite {
  margin: 1rem auto 0 auto;
  padding-right: 5rem;
  max-width: 80vw;
  font-size: 3vw;
  text-align: right;

  &::before {
    content: '-';
  }

  &::after {
    content: '-';
  }
}

@media (min-width: 600px) {
  .cite {
    margin: 1rem auto 0 auto;
    padding-right: 5rem;
  }
}
