.columns {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  min-height: 400px;
}

.column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}

@media (min-width: 600px) {
  .columns {
    flex-direction: row;
  }
}

[class~='diorama-presenter-preview'] {
  .columns {
    flex-direction: row;
  }
}
