.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 4rem;
  font-size: 1.5vw;
  font-weight: 700;
}

.left {
  text-alignn: left;
}

.right {
  margin-left: auto;
  text-align: right;
}
